/*
Rejean Prevost - Juillet 2008
*/

html{
color: white ;
background: navy ;
font-size: 100%; /* WinIE text resize correction */
}

body,div,h1,h2,h3,h4,h5,h6,p {
margin: 0em 0em 0em 0em;
padding: 0em 0em 0em 0em;
}

body {
	background-image: url(crayons_de_cire.jpg); 
	background-repeat: repeat;
	height:798px;
	/* background-color: lightgreen; */	
}

div.message {
    border: thick solid lime;
    text-align: left ;
    padding: .4em ;
    background: navy ;
}

input.dateInput {
	text-align: center ;
}

body {
font-size: 1em;
font-family: georgia,arial,helvetica,sans-serif;
text-align:center;
}

ul.menu {	
float:left;
width:100%;
padding:0;
margin:0;
list-style-type:none;
}

#menu {
    margin: .2em ;
}

.cache {
	display : none ;
}

a.menu {
float:left;
text-decoration:none;
color:white;
background-color:navy;
padding:0.2em 0.6em;
border:.1em solid white;
}

a:hover.menu 
{
	background-color: white;
	color: navy;
	border:.1em solid purple;
}

a.button {
    /* font: bold 1.1em Arial; */
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: .1em .3em .1em .3em;
    border-top: .1em solid #CCCCCC;
    border-right: .1em solid #333333;
    border-bottom: .1em solid #333333;
    border-left: .1em solid #CCCCCC;
}


#wrapper{
margin:auto;
text-align:left;
width:40em;
}

.container{
display: block;
margin: 0em 0em 0em 0em;
}

.boxes .box{
float:left;
width:12.98em;
margin-left:.5em;
}

.boxes div.first {
margin-left:0em;
padding-left: 0em;
}

.main{
background-color:#fff;
border-top:#fff .3em solid;
border-bottom:#fff .7em solid;
margin: 0em 0em 0em 0em;
padding: 0em 0em 0em 0em;
font-size: 1.2em;
word-spacing: -.05em;
line-height: 1.2em;
text-align:center;
}

#header{
color: white ;
height:2em;
/* background-image: url(images/Seamles-Blue-03.jpg) ; */
margin:.25em 0em 0em 0em;
padding:.25em 0em 0em 0em;
text-align:center;
letter-spacing: -0.05em;
font-size: 2.2em;
line-height: 1.2em;
font-family: Sawasdee,Trebuchet MS,georgia,arial,helvetica,sans-serif;
}

#ft{
clear:both;
}

#footer{
background-color:#fff;
border-top:#fff .5em solid;
margin: 0em 0em 0em 0em;
padding: 0em 0em 0em 0em;
text-align:center;
font-size: .8em;
}

img{
border:none;
/* width: 10.8em;
height: 10.32em; */
}

a img{
border:none;
width: 6.875em;
height: 2.422em;
margin-top: 1em;
}

a:focus
{
-moz-outline-style: none;
}

h1 {
	font-size:1.4em;  
}

h2 {
	font-size:1.3em; 
}
h3 {
	font-size:1.2em;  
}
h1,h2,h3 {
	margin:.2em 0;
}
h1,h2,h3,h4,h5,h6,strong {
	font-weight:bold; 
}

.name {
font-size:1em;
line-height: 1em;
}

.heure,.date {
	font-family: Sawasdee,Trebuchet MS ;
	font-weight: bold ;
}
.date {
	font-size: 1.3em;
}
.heure {
	font-size: 3em;
}

.price {
font-size:.9em;
line-height: 1em;
font-family: verdana,arial,helvetica,sans-serif;
}

.number {
font-size:.7em;
line-height: 1em;
font-family: arial,helvetica,sans-serif;	
}


.nomItem {
    border: thin solid red ;
    background: lavenderblush;
    color: black ;
}

.valeurItem {
    border: thin solid blue ;
    background: azure;
    color: black ;
}

.boiteAutour {
    border: thin solid yellow ;
    padding: .2em ;
    margin: .1em;
}

 .pied {
    position:relative ;
    top: 60px; 
}
