
html{
color: white ;
background: navy ;
font-size: 100%; /* WinIE text resize correction */
}

body {
	background-image: url(crayons_de_cire.jpg); 
	background-repeat: repeat;
	height:798px;
	/* background-color: lightgreen; */	
}

div.message {
    border: thick solid lime;
    text-align: left ;
    padding: .4em ;
    background: navy ;
}



a.menu {
float:left;
text-decoration:none;
color:white;
background-color:navy;
padding:0.2em 0.6em;
border:.1em solid white;
}

a:hover.menu 
{
	background-color: white;
	color: navy;
	border:.1em solid purple;
}



#header{
color: white ;
height:2em;
/* background-image: url(images/Seamles-Blue-03.jpg) ; */
margin:.25em 0em 0em 0em;
padding:.25em 0em 0em 0em;
text-align:center;
letter-spacing: -0.05em;
font-size: 2.2em;
line-height: 1.2em;
font-family: Sawasdee,Trebuchet MS,georgia,arial,helvetica,sans-serif;
}



.name {
font-size:1em;
line-height: 1em;
}

.heure,.date {
	font-family: Sawasdee,Trebuchet MS ;
	font-weight: bold ;
}
.date {
	font-size: 1.3em;
}
.heure {
	font-size: 3em;
}

.nomItem {
    border: thin solid red ;
    background: lavenderblush;
    color: black ;
}

.valeurItem {
    border: thin solid blue ;
    background: azure;
    color: black ;
}

.boiteAutour {
    border: thin solid yellow ;
    padding: .2em ;
    margin: .1em;
}

 .pied {
    position:relative ;
    top: 60px; 
}
