html{
color: white ;
background: blue ;
font-size: 100%; /* WinIE text resize correction */
}

body {
 	background-image: url(patins_blancs.jpg);
	background-repeat: repeat;
	height:798px; 
	background-color: #000000 ;
	color: MidnightBlue ;	
}

div.message {
	background : #0099FF ;
	color: white ;
    border: thick solid lightgray;
    text-align: left ;
    padding: .4em ;
}


a {
	color : lime ;
}

a.menu {
float:left;
text-decoration:none;
color: #0099FF ;
/* background-color: green ; */
padding:0.2em 0.6em;
border:.1em solid white ;
font-weight: normal;
}

a:hover.menu 
{
	background-color: white;
	color: #0099FF ;
	/* border:.1em solid lime; */
}

a.button {
    /* font: bold 1.1em Arial; */
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: .1em .3em .1em .3em;
    border-top: .1em solid #CCCCCC;
    border-right: .1em solid #333333;
    border-bottom: .1em solid #333333;
    border-left: .1em solid #CCCCCC;
}


#header{
color: MidnightBlue ;
height:2em;
/* background: red ; */
/* background-image: url(images/Seamles-Blue-03.jpg) ; */
margin:.25em 0em 0em 0em;
padding:.25em 0em 0em 0em;
text-align:center;
letter-spacing: -0.05em;
font-size: 2.2em;
font-weight: bold ;
line-height: 1.2em;
font-family: Times,Book Antiqua,Century Gothic,serif ;
}


.heure,.date {
    font-family: Sawasdee,Trebuchet MS ;
    font-weight: bold ;
}
.date {
    font-size: 1.3em;
}
.heure {
    font-size: 3em;
}

.nomItem {
    border: thin solid crimson ;
    color: MidnightBlue ;
/*    background: white ; */
}

.valeurItem {
    border: thin solid crimson ;
    color: darkblue ;
/*	background: white; */
}

.boiteAutour {
    border: thin solid white ;
    padding: .2em ;
    margin: .1em;
}

 .pied {
    position:relative ;
    top: 60px; 
}
